# Data Exploration

**Load the required libraries and datasets**

In [16]:
# Load the required libraries  
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
# Load the data sets  
anno_df = pd.read_csv('../data/anno_df.csv', 
                      usecols=["filename","image_id","id","defect_class_id","label","xy","x","y"])
pred_df = pd.read_csv('../data/pred_df.csv', 
                     usecols=["image_id","prediction_id","confidence","polygon_id","prediction_class","xy"])

## Explanatory Data Analysis 
### Data Inspection

**Manual Annoted images**

In [18]:
print("Manual Annotations (anno_df):")
display(anno_df.head())

Manual Annotations (anno_df):

,filename,image_id,id,defect_class_id,label,xy,x,y
0,1g_04.png,624,175683,7,Mononukleäre Zelle,"1354,1377.48,1330.52,1389.22,1330.52,1412.699,...","[1354.0, 1330.52, 1330.52, 1350.087, 1357.913,...","[1377.48, 1389.22, 1412.699, 1424.439, 1420.52..."
1,1g_04.png,624,175664,7,Mononukleäre Zelle,"223.058,1804.029,199.578,1800.116,191.751,1815...","[223.058, 199.578, 191.751, 203.491, 223.058, ...","[1804.029, 1800.116, 1815.769, 1831.422, 1835...."
2,1g_04.png,624,175634,7,Mononukleäre Zelle,"1549.665,1005.717,1545.751,1013.543,1541.838,1...","[1549.665, 1545.751, 1541.838, 1541.838, 1557....","[1005.717, 1013.543, 1021.37, 1037.023, 1037.0..."
3,1g_04.png,624,175654,7,Mononukleäre Zelle,"661.347,1678.803,637.867,1667.064,614.387,1674...","[661.347, 637.867, 614.387, 622.214, 630.04, 6...","[1678.803, 1667.064, 1674.89, 1698.37, 1694.45..."
4,1g_04.png,624,175633,7,Mononukleäre Zelle,"1784.462,1897.948,1796.202,1886.208,1804.029,1...","[1784.462, 1796.202, 1804.029, 1780.549, 1772....","[1897.948, 1886.208, 1870.555, 1858.815, 1862...."

In [19]:
print(anno_df.info())
anno_df.describe(include='int64')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3648 entries, 0 to 3647
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   filename         3648 non-null   object
 1   image_id         3648 non-null   int64
 2   id               3648 non-null   int64
 3   defect_class_id  3648 non-null   int64
 4   label            3648 non-null   object
 5   xy               3648 non-null   object
 6   x                3648 non-null   object
 7   y                3648 non-null   object
dtypes: int64(3), object(5)
memory usage: 228.1+ KB
None

          image_id            id  defect_class_id
count  3648.000000  3.648000e+03           3648.0
mean   1952.283717  9.417104e+05              7.0
std     831.767822  5.353460e+05              0.0
min     624.000000  1.686410e+05              7.0
25%    1455.000000  4.049428e+05              7.0
50%    2021.000000  1.043308e+06              7.0
75%    2862.000000  1.358439e+06              7.0
max    3165.000000  1.870170e+06              7.0

**System Predictions**

In [20]:
print("\nSystem Predictions (pred_df):")
display(pred_df.head())

System Predictions (pred_df):

,image_id,prediction_id,confidence,polygon_id,prediction_class,xy
0,3165,23699,0.431523,1937097,Defect,"37.578460693359375,13.887542724609375,37.31016..."
1,3165,23699,0.603884,1937098,Defect,"231.45407104492188,9.646164820744442,225.45407..."
2,3165,23699,0.244653,1937099,Defect,"318.3146711077009,33.736045837402344,316.76688..."
3,3165,23699,0.916268,1937100,Defect,"395.9158020019531,82.97906857445126,387.915802..."
4,3165,23699,0.366087,1937101,Defect,"337.0517883300781,84.71218928584346,332.051788..."

In [21]:
print(pred_df.info())
pred_df.describe(include=['int64', 'float64'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7118 entries, 0 to 7117
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   image_id          7118 non-null   int64
 1   prediction_id     7118 non-null   int64
 2   confidence        7118 non-null   float64
 3   polygon_id        7118 non-null   int64
 4   prediction_class  7118 non-null   object
 5   xy                7118 non-null   object
dtypes: float64(1), int64(3), object(2)
memory usage: 333.8+ KB
None

          image_id  prediction_id   confidence    polygon_id
count  7118.000000    7118.000000  7118.000000  7.118000e+03
mean   1951.781540   23720.931863     0.512246  1.940022e+06
std     813.485715      14.282011     0.302539  2.054934e+03
min     624.000000   23699.000000     0.100062  1.936463e+06
25%    1455.000000   23707.000000     0.218224  1.938242e+06
50%    2021.000000   23721.000000     0.468183  1.940022e+06
75%    2324.000000   23732.000000     0.820323  1.941801e+06
max    3165.000000   23746.000000     0.990468  1.943580e+06

**Check for missing values**